$primary-color: #2ECC71;
$active-secondary-color: #343434;
$background-color: #131313;
$border-color: #666666;
$weak-font-color: #8D8D8D;
$primary-font-family: "Nunito";
$highlight-font-family: "Limelight";
$item-font-family: "Montserrat";
$fast-animation-time: 110ms;
$very-fast-animation-time: 70ms;
