.header {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__middle {
    display: flex;

  }
  .header__right {
    display: flex;
    gap: 24px;
  }
}