@use "/src/app/styles/variables" as *;

.genre {
  display: block;
  font-family: $item-font-family;
  font-size: 16px;
  transition: color $very-fast-animation-time;

  &:hover {
    color: white;
  }

}