@use "/src/app/styles/variables" as *;

.explore-more-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .explore-more-section__image {
    object-fit: contain;
  }

  & .explore-more-section__title {
    font-family: $third-font-family;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
  }

  & .welcome-section__button {

  }
}