@use "@styles/variables.scss" as *;

.search {
  .search__title {
    align-self: end;
    margin-right: 12px;
    margin-left: 8px;
    color: rgb(255 255 255 / 70%);
    font-family: $primary-font-family;
    font-size: 13px;
  }
}