@use "/src/app/styles/variables" as *;

.jikan-status {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: $background-color;
  border-radius: 6px;
  width: fit-content;
}

.jikan-status__title {
  font-family: $third-font-family;
  font-size: 14px;
  margin-left: 10px;
}

.jikan-status__status {
  margin-left: 10px;
  font-family: $third-font-family;
  font-size: 14px;
  font-weight: 700;
}

.jikan-status__mark {
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;

  &.active {
    background-color: $primary-color;
  }
}