@use "/src/app/styles/variables" as *;

.show-profile-button {
  width: 40px;
  height: 40px;
}

.show-profile-button__wrapper {
  position: relative;
}

.profile {
  position: absolute;
  top: calc(100% + 5px);
  border-radius: 6px;
  padding: 5px;
  right: 0;
  z-index: 300;
  width: 300px;
  background-color: $background-color;
  visibility: hidden;

  &.open {
    visibility: visible;
  }

  .profile__title {
    font-family: $third-font-family;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }
}