@use "/src/app/styles/variables" as *;

.genres {
  display: flex;
  flex: 1;
  flex-direction: column;

  &.genres--loading {
    width: 200px;
    margin-right: 20px;
  }

  & .genres__title {
    color: $weak-font-color;
    font-size: 18px;
  }

  & .loading {
    align-self: center;
    padding: 10px;
    margin: auto 0;
  }

  & .genres-container {
    display: grid;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    gap: 40px;
    grid-template: 1fr 1fr 1fr  1fr 1fr / 1fr 1fr 1fr;
  }
}