@use "@styles/variables.scss" as *;

.show-subscription-plans-button {
  display: flex;

  .show-subscription-plans-button__icon {

  }

  .show-subscription-plans-button__title {
    align-self: end;
    margin-left: 10px;
    font-family: $primary-font-family;
    font-size: 13px;
    white-space: nowrap;
  }
}