@use "/src/app/styles/variables" as *;

.quick-navigation {
  & .quick-navigation__title {
    color: $weak-font-color;
    font-size: 18px;

  }

  & .quick-navigation-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 25px 20px;

    & .quick-navigation__item {
      transition: color $very-fast-animation-time;

      &:hover {
        color: white;
      }
    }
  }
}
