@use "/src/app/styles/variables" as *;

.logo {
  display: flex;
  width: fit-content;
  flex-direction: column;
  padding: 8px;

  .logo__title {
    color: $primary-color;
    font-family: $highlight-font-family;
    font-size: 24px;
    text-align: center;
  }

  .logo__slogan {
    margin-left: 10px;
    color: $primary-color;
    font-family: $primary-font-family;
    font-size: 12px;
    text-align: center;
  }
}