@use "/src/app/styles/variables.scss" as *;

.browse-genres {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  display: flex;
  width: 745px;
  max-width: 745px;
  padding: 20px 0 20px 30px;
  border: 1px solid $border-color;
  border-radius: 20px;
  background-color: $background-color;
  opacity: 0;
  visibility: hidden;

  &.opened {
    opacity: 1;
    visibility: visible;
  }


  & .vertical-line {
    margin: 0 20px 0 40px;
  }
}