@use "/src/app/styles/variables" as *;

.connect-with-us {
  .connect-with-us__title {
    display: block;
    margin-bottom: 26px;
    font-family: $third-font-family;
    font-size: 24px;
  }

  .connect-with-us__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: -3px;
    row-gap: 20px;
  }
}