@use "/src/app/styles/variables" as *;

.footer {
  width: 100%;
  max-width: $content-width;
  padding-bottom: 30px;
  margin: 0 auto 70px;

  .footer__links {
    display: flex;
    justify-content: space-between;
  }

  .quick-navigation {
    .quick-navigation__title {
      margin-bottom: 26px;
      color: white;
      font-family: $third-font-family;
      font-size: 24px;

    }

    .quick-navigation__item {
      a {
        font-family: $third-font-family;
        font-size: 18px;
      }
    }
  }

  .horizontal-line {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .footer__copyright {
    font-family: $third-font-family;
    font-size: 18px;
  }

  .footer__bottom {
    display: flex;
    justify-content:  space-between;
  }
}