.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;

  .header__middle {
    display: flex;
  }

  .header__right {
    display: flex;
    gap: 24px;
  }
}