@use "/src/app/styles/variables" as *;

.header {
  display: flex;
  width: 100%;
  max-width: $content-width;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .header__middle {
    display: flex;
  }

  .header__right {
    display: flex;
    gap: 24px;
  }
}