.navigation {
  display: flex;
  align-items: center;
  margin-right: 45px;
  gap: 45px;

  .navigation-item__icon {
    color: currentColor;
    margin-left: 7px;
  }
  .navigation-item--browse {
    position: relative;
  }
}